/** CSS file for the Sydney Emeralds prototype website */
/* Author : Liching Yew */

body, html {
  height: 100%;
  font-family: 'Open Sans', 'sans-serif';
}

/** Start of Navbar **/

.navbar.navbar-default{
	background-color: #191919;
	border: 0px;
	border-radius: 0px;
	height: 72px;
	margin-bottom: 0px;
}

.collapse.navbar-collapse{
	height: 72px !important;
	font-size: 18px;
	padding-top: 12px;
}

#nav-logo{
	width: 70px;
	margin-left: 24px;
	margin-right: 12px;
}

.navbar-default .navbar-brand {
	color: #eee;
	font-size: 32px;
	padding: 0px;
	height: 72px;
}

.navbar-default .navbar-brand:hover{
	color: #eee;
}

.navbar-default .navbar-brand div{
	display: inline-block;
	padding: 23px 0px 10px 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #eee;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #eee;
	border-bottom-color: #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #77d25f;
	background-color: transparent;
}

.navbar-nav > li > .dropdown-menu{
	background-color: #191919;
	padding: 0px;
}

.dropdown-menu > li > a{
	padding: 6px 20px;
	color: #eee;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #77d25f;
	background-color: #191919;
}

/** active navbar item */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #77d25f;
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #77d25f;
	background-color: transparent;
	padding-bottom: 24px;
}

/** header / slide show on index page **/
#index-header{
	background-color: #eee;
}

.left.carousel-control .fa-chevron-left, .right.carousel-control .fa-chevron-right{
	padding-top: 400px;
}

/** club intro */
#club-intro{
	background-color: #eee;
	padding-top: 48px;
	height: 450px; /** this should not be hard coded */
}

#club-intro h1{
	margin-bottom: 48px;
	color: #77d25f;
}

#club-intro p{
	font-size: 16px;
	color: #7d7d7d;
}
