/** CSS file for the Sydney Emeralds prototype website */
/* Author : Liching Yew */

body, html{
  height: 100%;
  font-family: 'Open Sans', 'sans-serif';
}

h1,h2,h3,h4,p,span{
	font-family: 'Open Sans', 'sans-serif';
}
/** Start of Navbar **/

.navbar.navbar-default{
	background-color: #191919;
	border: 0px;
	border-radius: 0px;
	height: 72px;
	margin-bottom: 0px;
}

.collapse.navbar-collapse{
	height: 72px !important;
	font-size: 18px;
	padding-top: 12px;
}

#nav-logo{
	width: 70px;
	margin-left: 24px;
	margin-right: 12px;
}

.navbar .dropdown i{
	margin-left: 6px;
	font-size: 16px;
}

.navbar-default .navbar-brand {
	color: #eee;
	font-size: 32px;
	padding: 0px;
	height: 72px;
}

.navbar-default .navbar-brand:hover{
	color: #eee;
}

.navbar-default .navbar-brand div{
	display: inline-block;
	padding: 23px 0px 10px 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #eee;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #eee;
	border-bottom-color: #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #77d25f;
	background-color: transparent;
}

.navbar-nav > li > .dropdown-menu{
	background-color: #191919;
	padding: 0px;
}

.dropdown-menu > li > a{
	padding: 6px 20px;
	color: #eee;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #77d25f;
	background-color: #191919;
}

/** active navbar item */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #77d25f;
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #77d25f;
	background-color: transparent;
	padding-bottom: 24px;
}

/** header / slide show on index page **/
#index-header{
	background-color: #eee;
}

.left.carousel-control .fa-chevron-left, .right.carousel-control .fa-chevron-right{
	padding-top: 400px;
}

/** club intro */
#club-intro{
	background-color: #eee;
	padding-top: 36px;
	height: 450px; /** this should not be hard coded */
}

#club-intro h1{
	margin-bottom: 48px;
	color: #77d25f;
}

#club-intro p{
	font-size: 16px;
	color: #7d7d7d;
}

.btn.std-green{
	margin-left: 45%; /** hard coded, text-center dosent work */
	margin-top: 24px;
	border-radius: 0px;
	border: 4px solid #77d25f; 
	padding: 12px;
	color: #77d25f; 
	font-size: 18px;
	font-weight: 600;
	background-color: transparent;
}

/** index page: our program section */

#SESC-program .rec-prog, #SESC-program .comp-prog, #SESC-program .comp-prog-hover{
	height: 400px;
	padding-right: 0px;
	padding-left:0px;
}

#SESC-program .rec-prog .beginner, #SESC-program .rec-prog .adult,
#SESC-program .rec-prog .beginner-hover, #SESC-program .rec-prog .adult-hover{
	height: 200px;
	/**background-image:url('../img/flutter.jpg');*/
}

#SESC-program .rec-prog .beginner-hover, #SESC-program .rec-prog .adult-hover, #SESC-program .comp-prog-hover{
	/**background-image:url('../img/flutter.jpg'); it looks terrible! does not scale! >< */
	color: #5c5c5c;
	background-color:  aliceblue;
	padding: 12px 24px;
}

#SESC-program .rec-prog .beginner-hover h2, #SESC-program .rec-prog .adult-hover h2, #SESC-program .comp-prog-hover h2{
	
}

#SESC-program p{
	font-size: 16px;
}

.btn.std-grey{
	position:relative;
	float: right;
	margin-right: 24px;
	padding: 12px 24px;
	font-size: 18px;
	bottom: 24px;
	font-weight: 600;
	border-radius: 0px;
}

#SESC-program .main-title{
	font-size: 60px;
	color: #eee;
	font-weight: 600;
	line-height: 200px;
	cursor: pointer;
}

#SESC-program .comp-prog .main-title{
	line-height: 400px;
}

/** index hire us section */

#SESC-hire-us{
	height: 350px;
	background-color: #eee; 
	padding: 36px;
}

#SESC-hire-us h1{
	color: #77d25f;
	margin-bottom: 36px;
}

#SESC-hire-us p{
	color: #7d7d7d;
	font-size: 16px;
}

#SESC-hire-us button{
	float: right;
	margin-top: 0px;
}

#SESC-hire-us img{
	width: 100%;
}

/** site map */

.site-map{
	height: 200px;
	background-color: #77d25f;
	padding: 36px 0px;
}

.site-map h4, .site-map p{
	color: #373737;
	font-weight: 400;
	cursor: pointer;
}

.site-map h4:hover, .site-map p:hover{
	cursor: pointer;
	color: #5c5c5c;
}

.site-map p{
	padding-left: 24px;
}

/** footer */
footer{
	background-color: #191919;
	color: #eee;
	font-size: 12px;
	padding: 6px 50px;
	height: 30px;
}

footer .copyright{
	display: inline-block;
	float: left;
}

footer .made-by-li{
	display: inline-block;
	float: right;
}

footer i{
	padding: 0px 6px;
	color: #FF5050;
}

/** header for all other pages */
header {
	height: 116px;
	background-color: #ddd;
}

header h1{
	margin-top: 54px;
	font-size: 42px;
	color: #777;
	letter-spacing: 3px;
	border-bottom: 1px solid #77d25f;
	padding-bottom: 15px;
}

/** our program */

#our-program{
	padding-top: 80px;
	background-color: #eee;
}