/** CSS file for the Sydney Emeralds prototype website */
/* Author : Liching Yew */

body, html{
  height: 100%;
  font-family: 'Open Sans', 'sans-serif';
}

h1,h2,h3,h4,p,span{
	font-family: 'Open Sans', 'sans-serif';
}
/** Start of Navbar **/

.navbar.navbar-default{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #191919;
	border: 0px;
	border-radius: 0px;
	height: 72px;
	margin-bottom: 0px;
}

.collapse.navbar-collapse{
	height: 72px !important;
	font-size: 18px;
	padding-top: 12px;
}

#nav-logo{
	width: 70px;
	margin-left: 24px;
	margin-right: 12px;
}

.navbar .dropdown i{
	margin-left: 6px;
	font-size: 16px;
}

.navbar-default .navbar-brand {
	color: #eee;
	font-size: 32px;
	padding: 0px;
	height: 72px;
}

.navbar-default .navbar-brand:hover{
	color: #eee;
}

.navbar-default .navbar-brand div{
	display: inline-block;
	padding: 23px 0px 10px 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #eee;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #eee;
	border-bottom-color: #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #77d25f;
	background-color: transparent;
}

.navbar-nav > li > .dropdown-menu{
	background-color: #191919;
	padding: 0px;
}
.dropdown:hover .dropdown-menu{
	display: block;
	margin-top: 9px;
}

.dropdown-menu > li > a{
	padding: 6px 20px;
	color: #eee;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #77d25f;
	background-color: #191919;
}

/** active navbar item */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #77d25f;
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #77d25f;
	background-color: transparent;
	padding-bottom: 24px;
}

/** header / slide show on index page **/
#index-header{
	background-color: #eee;
}

.left.carousel-control .fa-chevron-left, .right.carousel-control .fa-chevron-right{
	padding-top: 400px;
}

/** club intro */
#club-intro{
	background-color: #eee;
	padding-top: 36px;
}

#club-intro h1{
	margin-bottom: 48px;
	color: #77d25f;
}

#club-intro p{
	font-size: 16px;
	color: #7d7d7d;
	font-weight: 400;
}

.btn.std-green{
	border-radius: 0px;
	border: 4px solid #77d25f;
	padding: 12px;
	color: #77d25f;
	font-size: 18px;
	font-weight: 600;
	background-color: transparent;
	display: block;
	margin: 24px auto;
}

/** index page: our program section */

#SESC-program .rec-prog, #SESC-program .comp-prog, #SESC-program .comp-prog-hover{
	height: 400px;
	padding-right: 0px;
	padding-left:0px;
}

#SESC-program .rec-prog .beginner, #SESC-program .rec-prog .adult,
#SESC-program .rec-prog .beginner-hover, #SESC-program .rec-prog .adult-hover{
	height: 200px;
	/**background-image:url('../img/flutter.jpg');*/
}

#SESC-program .rec-prog .beginner-hover, #SESC-program .rec-prog .adult-hover, #SESC-program .comp-prog-hover{
	background-image:url('../img/flutter.jpg');
	background-size:cover;
	background-position:center; 
	color: #5c5c5c;
	background-color:  aliceblue;
	padding: 12px 24px;
}

#SESC-program .rec-prog .beginner-hover h2, #SESC-program .rec-prog .adult-hover h2, #SESC-program .comp-prog-hover h2{
	
}

#SESC-program p{
	font-size: 16px;
}

.btn.std-grey{
	position:relative;
	float: right;
	margin-right: 24px;
	padding: 12px 24px;
	font-size: 18px;
	bottom: 24px;
	font-weight: 600;
	border-radius: 0px;
}

#SESC-program .main-title{
	font-size: 60px;
	color: #eee;
	font-weight: 600;
	line-height: 200px;
	cursor: pointer;
}

#SESC-program .comp-prog .main-title{
	line-height: 400px;
}

/** index hire us section */

#SESC-hire-us{
	background-color: #eee; 
	padding: 36px;
}

#SESC-hire-us h1{
	color: #77d25f;
	margin-bottom: 36px;
}

#SESC-hire-us p{
	color: #7d7d7d;
	font-size: 16px;
}

#SESC-hire-us button{
	float: right;
	margin-top: 0px;
}

#SESC-hire-us img{
	width: 100%;
}

/** site map */

.site-map{
	height: 200px;
	background-color: #77d25f;
	padding: 36px 0px;
}

.site-map h4, .site-map p{
	color: #373737;
	font-weight: 400;
	cursor: pointer;
}

.site-map h4:hover, .site-map p:hover{
	cursor: pointer;
	color: #5c5c5c;
}

.site-map p{
	padding-left: 24px;
}

/** footer */
footer{
	background-color: #191919;
	color: #eee;
	font-size: 12px;
	padding: 6px 50px;
	height: 30px;
}

footer .copyright{
	display: inline-block;
	float: left;
}

footer .made-by-li{
	display: inline-block;
	float: right;
}

footer i{
	padding: 0px 6px;
	color: #FF5050;
}

/** header for all other pages */
header {
	height: 116px;
	background-color: #ddd;
	margin-top: 72px;
}

#our-program #accordion{
	margin: 48px 0px;
}

#our-program .title{
	font-size: 30px;
	padding: 24px;
	margin-bottom: 0px;
	color: #666;
}

#our-program .list-group{
	margin-top: 20px;
}

#our-program .list-group-item.active{
	background-color: #77d25f;
	border-color: #77d25f;
}

#our-program .list-group-item.active h3{
	margin: 0px
}

#our-program .list-group-item i{
	font-size: 18px;
	cursor: pointer;
}

#our-program .list-group-item i:hover{
	color: #77d25f;
}

#our-program img{
	width: 100%;
	border-radius: 12px;
}

header h1{
	margin-top: 54px;
	font-size: 42px;
	color: #777;
	letter-spacing: 3px;
	border-bottom: 1px solid #77d25f;
	padding-bottom: 15px;
}

/** our program */

#our-program{
	padding-top: 80px;
	background-color: #eee;
}

/** style.css for the our-programs section in the index page*/
a {
	text-decoration: none;
}
a:active {
	outline:none;	
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.ccr-pricing-table {
	display: block;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	margin: 50px 0;
	border:1px solid #ccc;
	border-radius: 12px;
}
.ccr-pricing-table:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 13px 2px #d7d7d7;
}

#SESC-program .title {
	background: #77d25f;
	font-size: 28px;
	color: #fff;
	text-align: center;
	padding: 24px 0;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#SESC-program  .image{
	position: relative;
}

#SESC-program img{
	width: 100%;
}

#SESC-program ul{
	padding-left: 0px;
}

.ccr-price-value {
	font-size: 54px;
	color: #504f4f;
	border-radius: 100%;
	width: 120px;
	height: 120px;
	line-height: 102px;
	text-align: center;
	position: absolute;
	left: 25%;
	top: -60px;
	border: 4px solid #fff;
	box-shadow: inset 0px 5px 13px -4px #585858;
	text-shadow: 1px 1px 0px #fff;
	background: #dedede; /* Old browsers */
	background: -moz-linear-gradient(top, #dedede 0%, #b4b4b4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#b4b4b4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dedede 0%,#b4b4b4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dedede 0%,#b4b4b4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dedede 0%,#b4b4b4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dedede 0%,#b4b4b4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#b4b4b4',GradientType=0 ); /* IE6-9 */
}
.ccr-pricing-table:hover .ccr-price-value {
	background: #f37d80; /* Old browsers */
	background: -moz-linear-gradient(top,  #f37d80 0%, #e95a5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f37d80), color-stop(100%,#e95a5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f37d80 0%,#e95a5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f37d80 0%,#e95a5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f37d80 0%,#e95a5e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f37d80 0%,#e95a5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37d80', endColorstr='#e95a5e',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-shadow: none;
	text-shadow: 1px 1px 0px #e33a3f;
	box-shadow: inset 0px 5px 5px 0px #d95356;
}
.ccr-price-list li {
	list-style: none;
	text-align: center;
	border-top:1px solid #F1F1F1;
	color: #504f4f;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.ccr-price-list li:hover {
	background: #77d25f;
	color: #fff;
	border-top:1px solid #fff;
}
.ccr-price-list li {
	line-height: 50px;
	font-size: 16px;
	position: relative;
}
.ccr-price-host {
	background: #19c8a7;
	border:0px;
	color: #fff;
	font-size: 20px;
	padding:5px 20px;
	text-align: center;
	margin: 10px auto 20px auto;
	display: table;
}
.ccr-price-host:hover {
	background: #e9595d;
}
.ccr-price-hover {
	display: inline-block;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;	
}
.ccr-price-list li:hover .bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 0;
	border-color: #569744 transparent;
	display: block;
	width: 0;
	z-index: -100;
	left: -15px;
	top: 45px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ccr-price-list li:hover .ccr-price-hover {
	position: absolute;
	width: 12px;
	height: 50px;
	background: #19c8a7;
	z-index: 100;
	left:-10px;
}
.ccr-price-list li:hover {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.ccr-price-list li:hover:before {
	content:"";
	background: #77d25f;
	position: absolute;
	width: 12px;
	height: 50px;
	z-index: 100;
	left:-10px;
	border-color: #0d9077 transparent;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/** end of style.css **/